<h1>File Upload</h1>
<%= form_tag ({:action=> "email", :method => "post"}, :multipart => true) do -%>
<p><label for="upload_file">Select File</label>  
<%= file_field_tag 'file' %></p><br />
<%= submit_tag "Send Email" %>
<% end %>
